
.Pixso-symbol-63_400 {
        flex-shrink: 0;
      }
.Pixso-symbol-63_399 {
        width: 200px;
height: 20px;
position: relative;
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 10px 0px 10px;
mix-blend-mode: normal;
      }
.Pixso-paragraph-63_393 {
        font-size: 12px;
font-family: "DungGeunMo-Regular";
font-weight: 400;
text-align: left;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 0.02em;
text-decoration: none;
color: rgba(0, 0, 0, 1);
width: 180px;
height: 20px;
position: relative;
flex-shrink: 0;
mix-blend-mode: normal;
      }
.Pixso-symbol-63_398 {
        width: 200px;
height: 20px;
position: relative;
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 10px 0px 10px;
background-color: rgba(221, 221, 221, 1);
mix-blend-mode: normal;
      }
.Pixso-paragraph-63_396 {
        font-size: 12px;
font-family: "DungGeunMo-Regular";
font-weight: 400;
text-align: left;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 0.02em;
text-decoration: none;
color: rgba(0, 0, 0, 1);
width: 180px;
height: 20px;
position: relative;
flex-shrink: 0;
mix-blend-mode: normal;
      }
.component-63_400 {
        width: fit-content;
height: fit-content;
      }

